In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline


final_df = pd.read_csv("cleaned_primary_school_GDP.csv")
final_df

,Country,Indicator,Sex,Education Level,Wealth Quintile,Residence,Value,Time,GDP
0,Australia,roportion of students at the end of primary ac...,Female,Primary education,Total,Total,63.93016,2015,47232.629115
1,Australia,roportion of students at the end of primary ac...,Male,Primary education,Total,Total,65.67903,2015,47232.629115
2,Australia,roportion of students at the end of primary ac...,Total,Primary education,Total,Total,68.00000,2019,52669.473896
3,Austria,roportion of students at the end of primary ac...,Total,Primary education,Total,Total,84.00000,2019,58091.272261
4,Austria,Proportion of students at the end of primary a...,Female,Primary education,Total,Total,98.08942,2016,52665.087417
...,...,...,...,...,...,...,...,...,...
424,South Africa,Out-of-school rate for children of primary sch...,Total,Primary education,Total,ural,1.10000,2016,12827.603580
425,South Africa,Out-of-school rate for children of primary sch...,Total,Primary education,Total,rban,1.00000,2016,12827.603580
426,South Africa,Out-of-school rate for children of primary sch...,Total,Primary education,Total,Total,1.00000,2016,12827.603580
427,South Africa,roportion of students at the end of primary ac...,Total,Primary education,Total,Total,14.90000,2013,12616.606382
428,South Africa,Proportion of students at the end of primary a...,Total,Primary education,Total,Total,36.10000,2013,12616.606382